<h1> Service index</h1>
<b>SYSTEM:</b><br/>
<br/>
<a href="http://127.0.0.1:18080/nginx_status">Nginx ingress</a><br/>
<a href="http://127.0.0.1:9090/">Prometheus</a><br/>
<a href="http://127.0.0.1:9093/">Alertmanager</a><br/>
<a href="http{{ifTls}}://logging.{{CLUSTER_HOST}}/app/logtrail#/?_g=()">Logging: Kibana</a><br/>
<a href="http://127.0.0.1:9200">Logging: Elastic Search</a><br/>
<br/>
<b>TEAM FRONTEND:</b><br/>
<br/>
<a href="http://127.0.0.1:9190/">Prometheus Team Frontend</a><br/>
<a href="http://127.0.0.1:9193/">Alertmanager Team Frontend</a><br/>
<br/>
<a href="http{{ifTls}}://drone.{{CLUSTER_HOST}}/">Drone</a><br/>
<a href="http{{ifTls}}://api.{{CLUSTER_HOST}}/api/publicmethod">API</a><br/>
